@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: #a1cece;
    /*#a1cece;*/
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #506A88;
}

.my-navbar {
    background-color: #506A88 !important;
}

.my-navbar a {
    color: #FAF8F6 !important;
    font-weight: 600;
}

.my-navbar a:hover {
    color: #a1cece !important;
    font-weight: 700;
}

.btn-primary {
    background-color: #506A88 !important;
    border-color: #40556d !important;
}




.container {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.301);
    min-height: 90vh;
    border-radius: 10px;
    padding: 1rem;
}

.disappear-box {
    animation-name: disappear-animation;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


@keyframes disappear-animation {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }

    10% {
        transform: rotateX(0deg);
        opacity: 1;

    }

    90% {
        transform: rotateX(0deg);
        opacity: 0.9;
        height: auto;
    }

    100% {
        height: 0;
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
    }
}

.categories-box {
    display: flex;
    flex-wrap: wrap;
}

.category-box {
    background-color: rgb(110, 108, 255);
    margin: .2rem;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: .7rem;
}

.category-link {
    text-decoration: none;
    color: white;
}

.category-link:hover {
    color: rgb(206, 206, 206);
}

.errorlist>li {
    color: red;

}


[class*="col-"] {
    background-clip: padding-box;
    border: 6px solid transparent;
}






.exercise-edit-info {
    padding: .5rem;
    text-align: center;
}

#exercise_preview {
    display: flex;
    flex-wrap: wrap;
}

.preview_box {
    background-color: hsl(180, 80%, 86%);
    padding: 0 .5rem;
    text-align: center;
    position: relative;
    border: 2px solid #5B7EFF;
    border-radius: 1rem;
    margin: .8rem;
}

.preview_box::before {
    content: "+";
    color: #5B7EFF;

    position: absolute;
    top: -1rem;
    right: -2rem;
    font-size: 3rem;
}

.preview_box hr {
    margin: 0;
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}