{% extends "excercises/base.html" %}
{% block content %}
<h1>Exam Details</h1>

<div class="row">
    <div class="col sm-8">
        <h2>{{exam.name}}</h2>
        <p>Description: {{exam.description}}</p>
        {%if exam.start_at %}
        Start time: {{exam.start_at}}
        <br/>
        {%endif%}

        {%if exam.end_at %}
        End time: {{exam.end_at}}
        <br/>
        {%endif%}
        <a href="{{exam.get_absolute_url}}" class="btn btn-secondary mt-2">Start</a>
    </div>

        {% include 'excercises/partials/exercise_set_card.html' with exercise_set=exam.exercise_set %}

</div>
<h3>Sessions</h3>
    {% if exam.examsession_set.all %}
        <div class="row">
            {%for session in exam.examsession_set.all%}
                {% include 'exams/partials/session_card.html' %}
            {%endfor%}
        </div>
    {% else %}
        <h4>No sessions yet!</h4>
    {% endif%}
{% endblock %}