{% extends "excercises/base.html" %}
{% block content %}

<h1>{{exercise_set.name}} </h1>
<h2>Learn</h2>


<form method="POST" action="{% url 'excercise_set_check_view' exercise_set.id%}">


{%for exercise in exercise_set.exercise_set.all%}
    {{ forloop.counter }}. 
    {%for content in exercise.content_set.all%}

        {% with item=content.item %}
            {{item.render}}
        {% endwith %}
        
    {%endfor%}
    <br />
{%endfor%}



    {% csrf_token %} 
    <input type="submit" class="btn btn-primary" value="Check" />
</form> 

{% endblock %}