{% extends "excercises/base.html" %}
{% block content %}

<h1>{{exercise_set.name}} </h1>
<h2>Edit</h2>



<div id="exercise_delete_form" > 
{%for exercise in exercise_set.exercise_set.all%}
    {{ forloop.counter }}. 
    {%for content in exercise.content_set.all%}
        {% if content.item.content_type == "text" %}
            {{content.item.correct_answer}}
        {% else %}
           <span style="color:gray;"> {{content.item.correct_answer}} </span>
        {% endif %}
    {%endfor%}

    <form hx-post="{% url 'excercise_delete_view' exercise_set.id %}" 
    hx-target="#exercise_delete_form"
     style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="delete_id" value="{{exercise.id}}" />
        <input type="submit" value="Delete" />
    </form>

    <br />
{%endfor%}
</div>




<hr />


<form id="new_exercises" 
    hx-post="{% url 'excercise_set_edit_view' exercise_set.id %}"
    hx-target="#exercise_delete_form"
> 
    {% csrf_token %}
    <div id="exercise_preview"> 
        Preview: 
    </div>

    <button id="save_exercise_btn">Save</button>
</form>

        
<select id="content_type" size=4>
    <option> Text </option>
    <option> Blank </option>
    <option> Hint </option>
    <option> ABCD </option>
</select>
<input type="text" id="content_content"/>
<button onClick="add_content()">Add field</button>
<p>
    Use ABCD in following pattern:<br />
    Good_answer//bad_answer//bad_answer//...<br />
    Use "//" to separate answers.<br />
    You can create up to 5 answers.<br />

</p>
<br />








<script>
    const content_type = document.getElementById("content_type")
    const content_content = document.getElementById("content_content")
    const exercise_preview = document.getElementById("exercise_preview")
    const save_exercise_btn = document.getElementById("save_exercise_btn")

    let current_content = 0
    let excercise_count = {{count}}+1

   
    document.addEventListener('htmx:afterRequest', function() {
        current_content = 0
        excercise_count+=1
        exercise_preview.innerHTML = "Preview: "
    });
    const add_content = () => {
        exercise_preview.innerHTML += 
        generateInputField(content_type.value, content_content.value, excercise_count, current_content)
        content_content.value= ""
        current_content += 1
    }

    const generateInputField = (contentType, contentValue, exercise_number, content_number) =>{
        return `
        <small>${contentType}: </small><span>${contentValue}</span>
        <input type="hidden" 
        value="${contentValue}" 
        name="content-${contentType}-${exercise_number}-${content_number}" 
        />`
    }

</script>

{% endblock %}