{% extends "excercises/base.html" %}
{% block content %}

<h1>{{exercise_set.name}}</h1>
<h3>Number of points to achieve: {{exercise_set.number_of_points}}</h3>

<a class="btn btn-primary" href="{% url 'excercise_set_edit_view' exercise_set.id %}">
    Edit</a> 

<a class="btn btn-primary" href="{% url 'excercise_set_learn_view' exercise_set.id %}">
    Learn</a> 

    <br />

{%for exercise in exercise_set.exercise_set.all%}
    {{ forloop.counter }}. 
    {{exercise.number_of_points}}
    {%for content in exercise.content_set.all%}

        {% with item=content.item %}
            {{item.render}}
        {% endwith %}
    {%endfor%}
    <br />
{%endfor%}
{% endblock %}