{% extends "excercises/base.html" %}
{% block content %}

<div class="page-header"> 
<h1>Edit</h1>
<a class="btn btn-secondary" href="{% url 'excercise_set_learn_view' exercise_set.id %}">Back</a> 
</div>

<hr/>
<div class="row">
    <div class="col-sm-8">
        <h2>{{exercise_set.name}} </h2>
        <div id="exercise_delete_form" > 
            {%for exercise in exercise_set.exercise_set.all%}

                <form hx-post="{% url 'excercise_delete_view' exercise_set.id %}" 
                hx-target="#exercise_delete_form"
                style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_id" value="{{exercise.id}}" />

                    <button type="submit" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button> 
                </form>

                {{ forloop.counter }}. 
                {%for content in exercise.content_set.all%}
                    {% if content.item.content_type == "text" %}
                        {{content.item.correct_answer}}
                    {% else %}
                    <span style="color:gray;"> {{content.item.correct_answer}} </span>
                    {% endif %}
                {%endfor%}

                

                <br />
            {%endfor%}
        </div>

        <hr />


        <form id="new_exercises" 
            hx-post="{% url 'excercise_set_edit_view' exercise_set.id %}"
            hx-target="#exercise_delete_form"> 
            {% csrf_token %}
            <h6>Preview:</h6>
            <div id="exercise_preview"> 
                 
            </div>

            <button id="save_exercise_btn" class="btn btn-primary" >Save</button>
        </form>
            <hr />
            
            <div class="row">
                <div class="col-sm-4">
                    <select id="content_type" class="form-control">
                        <option> Text </option>
                        <option> Blank </option>
                        <option> Hint </option>
                        <option> ABCD </option>
                    </select>
                </div>
                <div class="col-sm-6" >
                    <input type="text" class="form-control"
                     id="content_content"/>
                </div>

                <div class="col-sm-2">
                    <button onClick="add_content()" class="btn btn-secondary">Add field</button>
                </div>

            </div>
            <p class="exercise-edit-info">
                Use ABCD in following pattern:<br />
                Good_answer//bad_answer//bad_answer//...<br />
                Use "//" to separate answers.<br />
                You can create up to 5 answers.<br />

            </p>
    </div>

    <div class="col-sm-4">
        {%include 'categories/partials/add_category_form.html' with exercise_set=exercise_set%}
    </div>
</div>



<script>
    const content_type = document.getElementById("content_type")
    const content_content = document.getElementById("content_content")
    const exercise_preview = document.getElementById("exercise_preview")
    const save_exercise_btn = document.getElementById("save_exercise_btn")

    let current_content = 0
    let excercise_count = {{count}}+1

   
    document.addEventListener('htmx:afterRequest', function() {
        current_content = 0
        excercise_count+=1
        exercise_preview.innerHTML = ""
    });
    const add_content = () => {
        if(content_content.value !==""){
            exercise_preview.innerHTML += 
            generateInputField(content_type.value, content_content.value, excercise_count, current_content)
            content_content.value= ""
            current_content += 1
        }
    }

    const generateInputField = (contentType, contentValue, exercise_number, content_number) =>{
        return `
        <div class="preview_box">
            ${contentValue}<br />
            <hr />
            <span>(${contentType})</span>
        

        <input type="hidden" 
        value="${contentValue}" 
        name="content-${contentType}-${exercise_number}-${content_number}" 
        />
        </div>`
    }

</script>

{% endblock %}