{% extends "excercises/base.html" %}
{% block content %}

<h1>{{exercise_set.name}} </h1>



<div class="row">
    <h2 class="col-sm-8">Check</h2>
    <div class="col-sm-4">
        <a class="btn btn-primary float-end" href="{% url 'excercise_set_learn_view' exercise_set.id %}">Back</a> 
    </div>
</div>

<p> 
Correct: {{correct_ratio|floatformat:1 }}%
</p>
<hr />
{%for checked_answer in checked_answers%}
    {{ forloop.counter }}. 
    {% for content in checked_answer%}
        {{content}}
    {%endfor%}
    <br />
{%endfor%}
{{ correct_ids}}
{% endblock %}