<div class="card col-sm-4 ">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{exercise_set.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> {{exercise_set.creation_date|date:"d.m.Y"}} </h6>
      <h6 class="card-subtitle mb-2 text-muted"> 
        <div class="categories-box">
        {% for category in exercise_set.categories.all %}
          {% include "categories/partials/category_link.html"%}
        {% endfor %}
        </div>
      </h6>
      <p class="card-text">{{exercise_set.description}}</p>
      <a href="{{exercise_set.get_absolute_url}}" 
      class="btn btn-primary mt-auto">Go</a><br />
    </div>
  </div>